<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form ng-submit="addform.$valid && update()" ng-init="call_user_details()" name="addform" novalidate>
	 <div class="col-sm-6 col-sm-offset-3 card">
	  <h3 class="text-center">Update New User</h3>
	    <div class="form-group" style="margin-top:20px;">
	      <label>User Name:</label>
	      <input type="text" class="form-control" placeholder="Enter User Name" ng-model="user_data.user_name" name="name" required>
	      <div ng-messages=" addform.$submitted && addform.name.$error" role="alert" class="text-danger">
	        <div ng-message="required">Enter user name</div>
	      </div>
	    </div>
		
		<div class="form-group" style="margin-top:20px;">
	      <label>Mobile Number:</label>
	      <input type="text" class="form-control" placeholder="Enter mobile number" ng-model="user_data.user_mobile" name="unumber" required>
	      <div ng-messages=" addform.$submitted && addform.unumber.$error" role="alert" class="text-danger">
	        <div ng-message="required">Enter valid mobile number</div>
	      </div>
	    </div>
	    
	    <div class="form-group" style="margin-top:20px;">
	      <label>Email ID:</label>
	      <input type="text" class="form-control" placeholder="Enter Email ID" ng-model="user_data.email_id"  name="email" required>
	      <div ng-messages="addform.$submitted && addform.email.$error" role="alert" class="text-danger">
	        <div ng-message="required">Enter valid email id</div>
	      </div>
	    </div>

	    <div class="form-group" style="margin-top:20px;">
	      <label> User Role:</label>
	      <input type="text" class="form-control" placeholder="Enter userrole" ng-model="user_data.role"  name="role" required>
	      <div ng-messages="addform.$submitted && addform.role.$error" role="alert" class="text-danger">
	        <div ng-message="required">Enter user role</div>
	      </div>
	    </div>
   
	   <div class="form-group" style="margin-top:20px;">
		  <button type="submit" class="btn btn-primary primary_btn">SUBMIT</button>
		  <a class="btn btn-link" ui-sref="user">Back</a>
		  <h3 style="color:green;">{{message}}</h3>
		</div>
	</div>
  	</form>
</div>