<!-- 
<div class="container">
  <div class="row">


  <div class="col-sm-6 col-sm-offset-3 register_form card">
    <form class="form-horizontal" name="fpassform" ng-submit="fpassform.$valid && fpass()" novalidate>
      <h3 class="card-header text-center">Forgot Password</h3>
      <div class="form-group" style="margin-top:30px;">
        <div class="col-sm-12">
          <input  class="form-control" placeholder="Enter your Email Address" ng-model="fpass_data.email_address" name="email" required>
          <div ng-messages="fpassform.$submitted && fpassform.email.$error" role="alert" class="text-danger">
            <div ng-message="required">Email Address Required</div>
          </div> 
        </div>
      </div>

      
      <div class="form-group">
        <div class=" col-sm-12">
          <button type="submit" class="btn btn-primary primary_btn">Send</button>
          <a ui-sref="home" class="btn btn-link">Cancel</a>
        </div>

      </div>
</form>
  </div>

</div>
</div>


 -->