@charset "utf-8";

/* Popup Box Style */

#back_fader{
	background-color: rgba(0, 0, 0, 0.50);
	display: none;
	bottom: 0;
	left: 0;
	overflow-x: auto;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}
#popupContent{
	margin:50px auto 35px auto;
	background: #FFFFFF;
	position: static;
	z-index: 10;
	box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
	top: 110px !important;
}